.macbook-pro-14-2-child {
    position: absolute;
    height: 6.11%;
    width: 11.01%;
    top: 6.92%;
    right: 2.03%;
    bottom: 86.97%;
    left: 86.96%;
    border-radius: var(--br-7xl);
    background-color: var(--color-wheat);
  }
  .clip-path-group,
  .clip-path-group1,
  .clip-path-group2 {
    position: absolute;
    height: 99.95%;
    width: 99.95%;
    top: 0.92%;
    right: -0.02%;
    bottom: -0.87%;
    left: 0.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .clip-path-group1,
  .clip-path-group2 {
    height: 75.84%;
    width: 42.46%;
    top: 0.02%;
    right: 10.1%;
    bottom: 24.14%;
    left: 47.44%;
  }
  .clip-path-group2 {
    height: 53.62%;
    width: 45.1%;
    top: 0.92%;
    right: 0.88%;
    bottom: 45.46%;
    left: 54.03%;
  }
  .clip-path-group3,
  .clip-path-group4,
  .vector-icon,
  .vector-icon1,
  .vector-icon2 {
    position: absolute;
    height: 74.63%;
    width: 46.85%;
    top: 25.35%;
    right: 0.05%;
    bottom: 0.02%;
    left: 53.1%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .clip-path-group4,
  .vector-icon,
  .vector-icon1,
  .vector-icon2 {
    height: 56.32%;
    width: 46.36%;
    top: 35.38%;
    right: 12.93%;
    bottom: 8.3%;
    left: 40.71%;
  }
  .clip-path-group4,
  .vector-icon1,
  .vector-icon2 {
    height: 55.6%;
    width: 55.67%;
    top: 36.83%;
    right: 8.42%;
    bottom: 7.57%;
    left: 35.91%;
  }
  .clip-path-group4,
  .vector-icon2 {
    height: 58.51%;
    width: 58.35%;
    top: 36.29%;
    right: 7.08%;
    bottom: 5.21%;
    left: 34.57%;
  }
  .vector-icon2 {
    height: 60.85%;
    width: 56.16%;
    top: 32.6%;
    right: 8.16%;
    bottom: 6.55%;
    left: 35.69%;
  }
  .clip-path-group5,
  .clip-path-group6,
  .clip-path-group7,
  .clip-path-group8 {
    position: absolute;
    height: 62.4%;
    width: 58.39%;
    top: 32.46%;
    right: 7.04%;
    bottom: 5.14%;
    left: 34.57%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .clip-path-group6,
  .clip-path-group7,
  .clip-path-group8 {
    height: 5.9%;
    width: 5.17%;
    top: 5.21%;
    right: 92.58%;
    bottom: 88.89%;
    left: 2.24%;
    object-fit: cover;
  }
  .clip-path-group7,
  .clip-path-group8 {
    height: 6.07%;
    width: 5.27%;
    right: 92.49%;
    bottom: 88.72%;
  }
  .clip-path-group8 {
    width: 10.83%;
    top: 6.24%;
    right: 47.02%;
    bottom: 87.69%;
    left: 42.15%;
  }
  .group-icon,
  .group-icon1,
  .group-icon2,
  .group-icon3,
  .group-icon4,
  .group-icon5,
  .group-icon6 {
    position: absolute;
    height: 3.34%;
    width: 1.35%;
    top: 7.35%;
    right: 89.73%;
    bottom: 89.31%;
    left: 8.92%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon1,
  .group-icon2,
  .group-icon3,
  .group-icon4,
  .group-icon5,
  .group-icon6 {
    height: 2.46%;
    width: 1.19%;
    top: 8.22%;
    right: 87.98%;
    left: 10.83%;
  }
  .group-icon2,
  .group-icon3,
  .group-icon4,
  .group-icon5,
  .group-icon6 {
    width: 1.34%;
    top: 8.18%;
    right: 86.09%;
    bottom: 89.35%;
    left: 12.56%;
  }
  .group-icon3,
  .group-icon4,
  .group-icon5,
  .group-icon6 {
    right: 84.26%;
    left: 14.39%;
  }
  .group-icon4,
  .group-icon5,
  .group-icon6 {
    height: 2.51%;
    width: 1.24%;
    right: 82.49%;
    bottom: 89.3%;
    left: 16.28%;
  }
  .group-icon5,
  .group-icon6 {
    height: 3.26%;
    width: 1.48%;
    top: 7.39%;
    right: 80.53%;
    bottom: 89.35%;
    left: 17.99%;
  }
  .group-icon6 {
    height: 2.51%;
    width: 1.24%;
    top: 8.18%;
    right: 78.82%;
    bottom: 89.3%;
    left: 19.94%;
  }
  .group-icon10,
  .group-icon11,
  .group-icon12,
  .group-icon7,
  .group-icon8,
  .group-icon9 {
    position: absolute;
    height: 3.44%;
    width: 1.15%;
    top: 7.21%;
    right: 76.97%;
    bottom: 89.34%;
    left: 21.88%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon10,
  .group-icon11,
  .group-icon12,
  .group-icon8,
  .group-icon9 {
    width: 1.32%;
    right: 75.04%;
    left: 23.64%;
  }
  .group-icon10,
  .group-icon11,
  .group-icon12,
  .group-icon9 {
    height: 6.04%;
    width: 2.78%;
    top: 42.56%;
    right: 94.38%;
    bottom: 51.39%;
    left: 2.84%;
  }
  .group-icon10,
  .group-icon11,
  .group-icon12 {
    height: 4.66%;
    width: 2.39%;
    top: 44.04%;
    right: 91.23%;
    bottom: 51.3%;
    left: 6.39%;
  }
  .group-icon11,
  .group-icon12 {
    height: 4.58%;
    width: 2.22%;
    top: 44.12%;
    right: 87.9%;
    left: 9.88%;
  }
  .group-icon12 {
    width: 1.95%;
    top: 44.04%;
    right: 84.47%;
    bottom: 51.38%;
    left: 13.59%;
  }
  .group-icon13,
  .group-icon14,
  .group-icon15,
  .group-icon16,
  .group-icon17,
  .group-icon18 {
    position: absolute;
    height: 4.49%;
    width: 2.53%;
    top: 53.23%;
    right: 94.54%;
    bottom: 42.28%;
    left: 2.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon14,
  .group-icon15,
  .group-icon16,
  .group-icon17,
  .group-icon18 {
    height: 6.26%;
    width: 2.06%;
    top: 51.46%;
    right: 91.29%;
    left: 6.65%;
  }
  .group-icon15,
  .group-icon16,
  .group-icon17,
  .group-icon18 {
    height: 4.58%;
    width: 1.95%;
    top: 53.15%;
    right: 87.85%;
    bottom: 42.27%;
    left: 10.2%;
  }
  .group-icon16,
  .group-icon17,
  .group-icon18 {
    height: 5.68%;
    width: 2.28%;
    top: 52.13%;
    right: 84.51%;
    bottom: 42.19%;
    left: 13.21%;
  }
  .group-icon17,
  .group-icon18 {
    height: 4.58%;
    width: 2.22%;
    top: 53.23%;
    right: 81.13%;
    left: 16.66%;
  }
  .group-icon18 {
    height: 4.66%;
    width: 2.3%;
    top: 53.15%;
    right: 77.75%;
    left: 19.95%;
  }
  .group-icon19,
  .group-icon20,
  .group-icon21,
  .group-icon22,
  .group-icon23 {
    position: absolute;
    height: 6.38%;
    width: 2.14%;
    top: 51.34%;
    right: 74.32%;
    bottom: 42.28%;
    left: 23.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon20,
  .group-icon21,
  .group-icon22,
  .group-icon23 {
    height: 4.66%;
    width: 2.3%;
    top: 62.26%;
    right: 94.68%;
    bottom: 33.08%;
    left: 3.03%;
  }
  .group-icon21,
  .group-icon22,
  .group-icon23 {
    right: 91.27%;
    left: 6.43%;
  }
  .group-icon22,
  .group-icon23 {
    right: 87.88%;
    left: 9.82%;
  }
  .group-icon23 {
    height: 6.26%;
    width: 2.06%;
    top: 60.58%;
    right: 84.52%;
    bottom: 33.17%;
    left: 13.42%;
  }
  .group-icon24,
  .group-icon25,
  .group-icon26,
  .group-icon27,
  .group-icon28,
  .group-icon29 {
    position: absolute;
    height: 4.66%;
    width: 2.3%;
    top: 62.26%;
    right: 81.11%;
    bottom: 33.08%;
    left: 16.59%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon25,
  .group-icon26,
  .group-icon27,
  .group-icon28,
  .group-icon29 {
    height: 5.68%;
    width: 2.28%;
    top: 61.24%;
    right: 77.74%;
    left: 19.98%;
  }
  .group-icon26,
  .group-icon27,
  .group-icon28,
  .group-icon29 {
    height: 4.66%;
    width: 2.3%;
    top: 62.26%;
    right: 74.36%;
    left: 23.34%;
  }
  .group-icon27,
  .group-icon28,
  .group-icon29 {
    height: 4.58%;
    width: 2.26%;
    right: 70.96%;
    bottom: 33.16%;
    left: 26.79%;
  }
  .group-icon28,
  .group-icon29 {
    height: 5.68%;
    width: 2.28%;
    top: 61.24%;
    right: 67.59%;
    bottom: 33.08%;
    left: 30.14%;
  }
  .group-icon29 {
    height: 3.14%;
    width: 1.43%;
    top: 73.65%;
    right: 95.78%;
    bottom: 23.21%;
    left: 2.79%;
  }
  .group-icon30,
  .group-icon31,
  .group-icon32,
  .group-icon33,
  .group-icon34 {
    position: absolute;
    height: 2.42%;
    width: 1.23%;
    top: 74.41%;
    right: 94.25%;
    bottom: 23.17%;
    left: 4.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon31,
  .group-icon32,
  .group-icon33,
  .group-icon34 {
    height: 2.33%;
    width: 1.4%;
    top: 74.45%;
    right: 90.94%;
    bottom: 23.22%;
    left: 7.66%;
  }
  .group-icon32,
  .group-icon33,
  .group-icon34 {
    height: 3.25%;
    width: 1.07%;
    top: 73.54%;
    right: 89.42%;
    bottom: 23.21%;
    left: 9.51%;
  }
  .group-icon33,
  .group-icon34 {
    height: 3.31%;
    width: 1.11%;
    top: 73.47%;
    right: 87.78%;
    bottom: 23.22%;
    left: 11.11%;
  }
  .group-icon34 {
    right: 86.16%;
    left: 12.73%;
  }
  .group-icon35,
  .group-icon36,
  .group-icon37,
  .group-icon38,
  .group-icon39 {
    position: absolute;
    height: 2.42%;
    width: 1.17%;
    top: 80.55%;
    right: 95.93%;
    bottom: 17.02%;
    left: 2.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon36,
  .group-icon37,
  .group-icon38,
  .group-icon39 {
    width: 1.19%;
    right: 94.28%;
    left: 4.52%;
  }
  .group-icon37,
  .group-icon38,
  .group-icon39 {
    height: 3.27%;
    width: 1.17%;
    right: 92.65%;
    bottom: 16.18%;
    left: 6.18%;
  }
  .group-icon38,
  .group-icon39 {
    height: 2.95%;
    width: 1.18%;
    top: 80.03%;
    right: 91.04%;
    bottom: 17.02%;
    left: 7.78%;
  }
  .group-icon39 {
    height: 2.38%;
    width: 1.15%;
    top: 80.61%;
    right: 89.42%;
    bottom: 17.01%;
    left: 9.43%;
  }
  .group-icon40,
  .group-icon41,
  .group-icon42,
  .group-icon43,
  .group-icon44,
  .group-icon45 {
    position: absolute;
    height: 2.37%;
    width: 1.01%;
    top: 80.55%;
    right: 87.78%;
    bottom: 17.07%;
    left: 11.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon41,
  .group-icon42,
  .group-icon43,
  .group-icon44,
  .group-icon45 {
    height: 2.42%;
    width: 1.23%;
    right: 86.14%;
    bottom: 17.02%;
    left: 12.62%;
  }
  .group-icon42,
  .group-icon43,
  .group-icon44,
  .group-icon45 {
    right: 82.9%;
    left: 15.87%;
  }
  .group-icon43,
  .group-icon44,
  .group-icon45 {
    height: 2.33%;
    width: 1.32%;
    top: 80.61%;
    right: 81.24%;
    bottom: 17.06%;
    left: 17.44%;
  }
  .group-icon44,
  .group-icon45 {
    height: 2.42%;
    width: 1.23%;
    top: 80.55%;
    right: 79.66%;
    bottom: 17.02%;
    left: 19.11%;
  }
  .group-icon45 {
    height: 2.37%;
    width: 1.01%;
    right: 78.05%;
    bottom: 17.07%;
    left: 20.94%;
  }
  .group-icon46,
  .group-icon47,
  .group-icon48,
  .group-icon49,
  .group-icon50 {
    position: absolute;
    height: 3.27%;
    width: 1.43%;
    top: 80.61%;
    right: 76.29%;
    bottom: 16.13%;
    left: 22.28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon47,
  .group-icon48,
  .group-icon49,
  .group-icon50 {
    height: 2.33%;
    width: 1.4%;
    top: 86.75%;
    right: 95.8%;
    bottom: 10.92%;
    left: 2.79%;
  }
  .group-icon48,
  .group-icon49,
  .group-icon50 {
    height: 2.42%;
    width: 1.24%;
    top: 86.71%;
    right: 94.26%;
    bottom: 10.87%;
    left: 4.5%;
  }
  .group-icon49,
  .group-icon50 {
    height: 2.37%;
    width: 1.01%;
    right: 92.64%;
    bottom: 10.92%;
    left: 6.35%;
  }
  .group-icon50 {
    height: 3.36%;
    width: 1.17%;
    top: 85.77%;
    right: 91.06%;
    bottom: 10.87%;
    left: 7.76%;
  }
  .group-icon51,
  .group-icon52,
  .group-icon53,
  .group-icon54,
  .group-icon55 {
    position: absolute;
    height: 3.41%;
    width: 1.25%;
    top: 85.67%;
    right: 87.73%;
    bottom: 10.92%;
    left: 11.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon52,
  .group-icon53,
  .group-icon54,
  .group-icon55 {
    height: 2.42%;
    width: 1.24%;
    top: 86.71%;
    right: 86.14%;
    bottom: 10.87%;
    left: 12.62%;
  }
  .group-icon53,
  .group-icon54,
  .group-icon55 {
    height: 2.37%;
    width: 1.01%;
    right: 84.53%;
    bottom: 10.92%;
    left: 14.46%;
  }
  .group-icon54,
  .group-icon55 {
    height: 3.27%;
    width: 1.43%;
    top: 86.75%;
    right: 81.15%;
    bottom: 9.98%;
    left: 17.42%;
  }
  .group-icon55 {
    height: 2.42%;
    width: 1.24%;
    top: 86.71%;
    right: 79.66%;
    bottom: 10.87%;
    left: 19.1%;
  }
  .clip-path-group10,
  .clip-path-group11,
  .clip-path-group9,
  .group-icon56,
  .group-icon57 {
    position: absolute;
    height: 2.38%;
    width: 1.15%;
    top: 86.75%;
    right: 78.07%;
    bottom: 10.87%;
    left: 20.78%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .clip-path-group10,
  .clip-path-group11,
  .clip-path-group9,
  .group-icon57 {
    height: 0.79%;
    width: 0.47%;
    top: 88.35%;
    right: 76.81%;
    left: 22.73%;
  }
  .clip-path-group10,
  .clip-path-group11,
  .clip-path-group9 {
    height: 6.07%;
    width: 10.83%;
    top: 6.24%;
    right: 32.05%;
    bottom: 87.69%;
    left: 57.13%;
    object-fit: cover;
  }
  .clip-path-group10,
  .clip-path-group11 {
    top: 6.56%;
    right: 17.07%;
    bottom: 87.37%;
    left: 72.1%;
  }
  .clip-path-group11 {
    top: 6.98%;
    right: 2.08%;
    bottom: 86.94%;
    left: 87.1%;
  }
  .group-icon58,
  .group-icon59,
  .group-icon60,
  .group-icon61 {
    position: absolute;
    height: 2.3%;
    width: 6.45%;
    top: 9%;
    right: 4.28%;
    bottom: 88.7%;
    left: 89.27%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon59,
  .group-icon60,
  .group-icon61 {
    height: 1.76%;
    width: 3.14%;
    top: 8.32%;
    right: 35.89%;
    bottom: 89.92%;
    left: 60.97%;
  }
  .group-icon60,
  .group-icon61 {
    width: 5.66%;
    top: 8.65%;
    right: 19.69%;
    bottom: 89.6%;
    left: 74.66%;
  }
  .group-icon61 {
    height: 1.79%;
    width: 3.97%;
    top: 8.29%;
    right: 50.47%;
    bottom: 89.92%;
    left: 45.56%;
  }
  .child,
  .inner,
  .item {
    position: absolute;
    height: 6.1%;
    width: 11%;
    top: 6.22%;
    bottom: 87.68%;
    border-radius: var(--br-7xl);
    background-color: var(--color-wheat);
  }
  .child {
    right: 47.02%;
    left: 41.98%;
    cursor: pointer;
  }
  .inner,
  .item {
    right: 32.02%;
    left: 56.98%;
  }
  .inner {
    top: 6.52%;
    right: 17.09%;
    bottom: 87.38%;
    left: 71.91%;
  }
  .account,
  .start {
    height: 4.58%;
    width: 7.14%;
    top: 7.64%;
    font-weight: 500;
    display: inline-block;
  }
  .account {
    position: absolute;
    left: 73.93%;
  }
  .start {
    left: 44.53%;
  }
  .div,
  .home,
  .start {
    position: absolute;
  }
  .home {
    height: 4.58%;
    width: 7.14%;
    top: 7.64%;
    left: 60.58%;
    font-weight: 500;
    display: inline-block;
  }
  .div {
    top: -9px;
    left: 1px;
    width: 1525px;
    height: 991px;
    overflow: hidden;
  }
  .macbook-pro-14-2 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 982px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-darkslategray);
    font-family: var(--font-roboto-mono);
  }