body {
  font-family: Arial, sans-serif;
  background-color: #d4e6c3;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px; /* Adjust as needed */
}

.logo h1 {
  margin-left: 0.5em;
  color: #3d3d3d;
}

.link {
  text-decoration: none; /* This removes the underline */
}

.loading {
  margin-top: -8em;
  max-width: 40px; /* Adjust as needed */
  height: auto; /* This will maintain the aspect ratio */
}



.nav-btn {
  padding: 1em 2em;
  margin-left: 1.5em;
  margin-top: 2em;
  border: none;
  border-radius: 20px;
  font-size: 36px;
  background-color: rgb(172, 190, 140);
  color: #3d3d3d;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: rgb(140, 140, 100);
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  padding: 2em;
}

.main-content img {
  width: 100%; /* Adjust as needed */
  max-width: 700px;
  margin-top: 12em;
}


.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 4em;
}

.main-text h2 {
  color: #3d3d3d;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.main-text h3 {
  color: #5e5e5e;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.bubble-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
  
.bubble-background img {
  width: 80%;
}
