<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SummaTalk - Your Virtual Assistant</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="navbar">
        <a href="/" class="link">
            <div class="logo">
                <img src="/static/small-bubble.png" alt="Logo">
                <h1>SummaTalk</h1>
            </div>
        </a>
    </div>
    <div class="bubble-background">
        <img src="/static/background-bubbles.png" alt="Bubble">
    </div>
    <div class="main-content">
        <div class="main-text">
            <h2>Your Virtual Assistant</h2>
            <h3>We will capture every word for you.</h3>
            <!-- Upload mp3 -->
            <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" id="audio-upload-form">
                <input type="file" name="file" id="audio-file" accept=".mp3" style="display: none;" />
                <button type='button' class="nav-btn" id="submitAudio">Start</button>
            </form>
            <div>
                <div id="loading" style="display: none;">
                    <img class="loading" src="/static/loading.gif" alt="Loading...">
                </div>
            </div>
        </div>
        <img src="/static/picture.png" alt="Team Working">
    </div>
</body>
<script>
    document.getElementById('submitAudio').addEventListener('click', function() {
        document.getElementById('audio-file').click();
    });

    document.getElementById('audio-file').addEventListener('change', function() {
        var form = document.getElementById('audio-upload-form');
        var formData = new FormData(form);
        
        // Display the loading gif
        document.getElementById('loading').style.display = 'block';

        // Make an AJAX request
        fetch('{{ url_for("upload_file") }}', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json()) // Assuming your server responds with JSON
        .then(data => {
            // Hide the loading gif
            document.getElementById('loading').style.display = 'none';

            // Redirect to the result page with the summary
            window.location.href = '{{ url_for("result") }}';
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
</html>


