<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/global.css" />
    <link rel="stylesheet" href="./static/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Mono:wght@500&display=swap"
    />
  </head>
  <body>
    <div class="macbook-pro-14-2">
      <div class="macbook-pro-14-2-child"></div>
      <div class="div">
        <img
          class="clip-path-group"
          alt=""
          src="./static/clip-path-group.svg"
        />

        <img class="group-icon58" alt="" src="./static/group.svg" />

        <img class="group-icon59" alt="" src="./static/group.svg" />

        <img class="group-icon60" alt="" src="./static/group.svg" />

        <img class="group-icon61" alt="" src="./static/group.svg" />

        <div class="child" id="rectangle"></div>
        <div class="item"></div>
        <div class="inner"></div>
        <div class="account">Account</div>
        <div class="start">Start</div>
        <div class="home">Home</div>
      </div>
    </div>

    <script>
      var rectangle = document.getElementById("rectangle");
      if (rectangle) {
        rectangle.addEventListener("click", function (e) {
          // Please sync "MacBook Pro 14" - 3" to the project
        });
      }
      </script>
  </body>
</html>