<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SummaTalk - Your Virtual Assistant</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="navbar">
        <a href="/" class="link">
            <div class="logo">
                <img src="/static/small-bubble.png" alt="Logo">
                <h1>SummaTalk</h1>
            </div>
        </a>
    </div>
    <div class="bubble-background">
        <img src="/static/background-bubbles.png" alt="Bubble">
    </div>
    <div class="main-content">
        <div class="main-text">
            <h2>Your Virtual Assistant</h2>
            <h3>We will capture every word for you.</h3>
            <a href="/upload" class="link">
                <button class="nav-btn">Start</button>
            </a>
        </div>
        <img src="/static/picture.png" alt="Team Working">
    </div>
</body>
</html>


