<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Hack1robo Bordeaux 2024</title>
    <style>
        body {
            background-color: royalblue;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-size: 48px;
        }
    </style>
</head>
<body>
    <h1>Welcome to Hack1robo Bordeaux 2024</h1>
</body>
</html>

