<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SummaTalk - Upload Files</title>
    <link rel="stylesheet" href="/static/upload.css">
</head>
<body>
    <div class="navbar">
        <a href="/" class="logo_link">
            <div class="logo">
                <img src="/static/small-bubble.png" alt="Logo">
                <h1>SummaTalk</h1>
            </div>
        </a>
        <div class="nav-buttons">
            <button class="nav-btn">Audio file</button>
            <button class="nav-btn">PDF file</button>
            <button class="nav-btn">Real time</button>
        </div>
    </div>
    <div class="upload-container">
        <div class="upload-box">
            <span class="upload-text">Upload your file here</span>
            <div class="upload-arrow">&#x2191;</div>
        </div>
        <div class="select-container">
            <button class="select-btn">Select language</button>
            <button class="select-btn">Select Mission</button>
        </div>
        <button class="go-btn">GO!</button>
    </div>
</body>
</html>
