<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SummaTalk - Upload Files</title>
    <link rel="stylesheet" href="/static/upload.css">
</head>
<body>
    <div class="navbar">
        <a href="/" class="link">
            <div class="logo">
                <img src="/static/small-bubble.png" alt="Logo">
                <h1>SummaTalk</h1>
            </div>
        </a>
        <div class="nav-buttons">
            <!-- Upload mp3 -->
            <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" id="audio-upload-form">
                <input type="file" name="file" id="audio-file" accept=".mp3" style="display: none;" />
                <button type="button" class="nav-btn" id="submitAudio">Audio file</button>
            </form>
            <button class="nav-btn">PDF file</button>
            <button class="nav-btn">Real time</button>
        </div>
    </div>
    <div class="upload-container">
        <div class="select-container">
            <button class="select-btn">Select language</button>
            <button class="select-btn">Select Mission</button>
        </div>
        <button class="go-btn">GO!</button>
    </div>
</body>
<script>
    document.getElementById('submitAudio').addEventListener('click', function() {
        document.getElementById('audio-file').click();
    });

    document.getElementById('audio-file').addEventListener('change', function() {
        document.getElementById('audio-upload-form').submit();
    });
</script>
</html>
